

header,
main {
    display: inline-block; 
    width: 1000px; 
    margin: 0 calc((100% - 1000px) / 2);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    text-align: center;
}

header img {
    float: left;
 }

nav {
    float: right;
    width: 880px;
 }

nav > a:nth-child(1), a:nth-child(2), a:nth-child(3), a:nth-child(4) {
    float: left;
    margin-left: 20px;
}

nav > a:first-child {
    text-decoration: none; color: #151262;
    margin-left: 10px;
}

nav > a:nth-child(5), a:nth-child(6) {
    float: right;
}

