
body {
    margin-top: 20px;
}
header,
main {
    display: inline-block; 
    width: 60%; 
    margin: 0 20%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*HEADER*/

header {
    margin-bottom: 35px;
}

header img {
    float: left;
 }

 .header-links {
    float: left;
    margin-top: 30px;
 }
.header-links a {
    margin-left: 40px;
    text-decoration: none;
    color: #151262;
    font-size: 15px;
    font-weight: bold;
}

.header-links a:first-child {
    margin-left: 70px;
}

.registration-links {
    float: right;
    margin-top: 30px;
}

.registration-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #151262;
    font-size: 15px;
    font-weight: bold;
}

.registration-links a:last-child {
    padding: 8px 50px;
    border: none;
    background-color: #3CEFF8;
    color: #151262;
    border-radius: 8px;
}

/* MAIN*/

main {
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #151262;
}
h3 {
    font-size: 22px; 
    line-height: 20px; 
    margin-top: 0;
    color: #151262;
}

.main-btn {
    display: inline-block; 
    font-size: 15px;
    margin-top: 40px; 
    margin-bottom: 50px; 
    border: none; 
    padding: 8px 55px; 
    border-radius: 8px; 
    background-color: #FDD6D0; 
    color: #FE715B; 
    font-weight: bold;
    text-decoration: none;
    box-shadow: 2px 4px 8px #FE715B;
    transition: all 0.3s;
}

.main-btn:hover {
    box-shadow: 3px 5px 12px #FDD6D0;
}

main img {
    display: block; 
    margin:auto; 
    max-width: 100%; 
    max-height: 100%;
}
